<div class="container">
  <h3>Create an Account</h3>

  <form [formGroup]="authForm" class="form ui">
    <div class="field">
      <label for="">Username</label>
      <input formControlName="username">
    </div>

    <div class="field">
      <label for="">Password</label>
      <input formControlName="password">
    </div>

    <div class="field">
      <label for="">Password Confirmation</label>
      <input formControlName="passwordConfirmation">
    </div>

    <button class="ui submit button primary">Submit</button>
  </form>
</div>

<hr>
<p>Debugging</p>
<div>
  Username {{ authForm.get('username')!.errors | json }}
</div>
<div>
  Password  {{ authForm.get('password')!.errors | json }}
</div>
<div>
  Password Confirmation  {{ authForm.get('passwordConfirmation')!.errors | json }}
</div>

