<div class="container">
  <h3>Create an Account</h3>

  <form [formGroup]="authForm" class="form ui">
    <app-input
      inputType="text"
      label="Username"
      [control]="authForm.get('username')"
    ></app-input>

    <app-input
      inputType="password"
      label="Password"
      [control]="authForm.get('password')"
    ></app-input>

    <app-input
      inputType="password"
      label="Password Confirmation"
      [control]="authForm.get('passwordConfirmation')"
    ></app-input>

    <div
      class="ui pointing red basic label"
      *ngIf="authForm.get('passwordConfirmation')!.touched &&
      authForm.get('password')!.touched &&
      authForm.errors
      "
      >
        <small>
          Password and Password Confirmation must match.
        </small>
        <small *ngIf="authForm.errors!['passwordsDontMatch']">
          Password and Password Confirmation must match.
        </small>
    </div>
    <div>
        <button
        class="ui submit button primary"
      >Submit</button>
    </div>
  </form>
</div>
