<div class="container">
  <h3>Sign In!</h3>

  <form [formGroup]="authForm" class="form ui" (ngSubmit)="submit()">
    <app-input
      inputType="text"
      label="Username"
      [control]="authForm.get('username')"
    ></app-input>

    <app-input
      inputType="password"
      label="Password"
      [control]="authForm.get('password')"
    ></app-input>

    <div
      class="ui pointing red basic label"
      *ngIf="authForm.errors"
    >
      <small *ngIf="authForm.errors!['credentials']">
        Invalid Username or Password
      </small>
    </div>

    <div>
      <button
        class="ui submit button primary"
      >Submit</button>
    </div>
  </form>
</div>
